# Default ignored files edit
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\JamesBurling\Documents\GitHub\OS1-Coursework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
